h3 {
    margin-bottom: 20px;
}

h4 {
    margin-top: 30px;
}

table {
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #f4f4f4;
    text-align: left;
}

.table-success {
    background-color: #d4edda !important;
}

.table-danger {
    background-color: #f8d7da !important;
}
